#Link1{
    margin-left: 50px;
}

#Link2{
    text-decoration: none;
    color: black;
    border-bottom: 10px;
    border-bottom-color: #0F8C3B;
}

#Link3{
    text-decoration: none;
    color: black;
}