/* .tela_servicos{
    background-image: url("../imagens/fundo.jpg");
    background-repeat: no-repeat ;
    width: 100%;
    min-height: 100%;
    display: table;
    padding: 0;
    background-position: 10 100 0;
    background-size: cover;
    position: absolute;
}

.logo3{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
}

.classeTitle{
    margin-top: 10px;
}

#caracteristicas{
    background-color: aliceblue;
    border: 2px solid #000;
    width: 40%;
    margin-left: 7%;
    padding: 0;
    line-height: 0;
}

p{
    color: black;
    font-size: 1.5em;
}

#nome{
    display: flex;
    text-align: left;
    margin-left: 1em;
}

#descricao{
    display: flex;
    text-align: letf;
    margin-left: 1em;
    margin-top: 0;
}

#valor{
    display: flex;
    text-align: letf;
    margin-left: 22em;
}
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'roboto', sans-serif;
}

.wrapper {
    max-width: 500px;
    width: 90%;
    margin: auto;
    height: 100%;
}

.header {
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    box-shadow: 2px 2px 10px #0000001a;
}

.header__logo {
    width: 150px;
    height: 100%;
    padding: 17px;
}

.header__logo img {
    width: auto;
    height: 100%;
}

.header__nav-link {
    text-decoration: none;
    color: #525050;
    font-family: 'Roboto';
    font-size: 16px;
    padding: 0 11px;
    display: flex;
    align-items: center;
}

nav.header__nav {
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.header__nav-link:hover {
    text-decoration: underline green;
    color: green;
}

div.clientes {
    min-height: calc(100vh - 60px);
    background-color: #f4f4f4;
    display: flex;
}

.clientes__content {
    width: 75%;
    padding: 30px 0vh 0 6vh;
}

.clientes__filtro {
    width: 30%;
    padding: 30px 0;
}

.clientes__content-title {
    text-align: center;
    font-size: 35px;
    font-family: 'roboto';
    font-weight: bolder;
}

.clientes_content-card {
    background-color: #fff;
    margin: 10px 0;
    padding: 20px 19px;
    border-radius: 3px;
}

.text-right {
    text-align: right;
}

.text-green {
    color: #9ae025;
    font-weight: bold;
}

.filter-box {
    background-color: #069306;
    width: 90%;
    max-width: 330px;
    margin: auto;
    padding: 15px;
    border-radius: 7px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.filter-box h5 {
    color: #fff;
    font-size: 19px;
    text-align: center;
    margin: 10px 0;
    width: 100%;
}

.input-search {
    position: relative;
    width: 100%;
}

.input-search svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 15px;
}

.input-search input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.metade {
    width: 50%;
    margin: 10px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.metade input {
    width: 96%;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    margin: 8px auto;
    background-color: #fffbfb;
}


 